<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="about content">
        <h2>About us</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rerum quaerat blanditiis. Cupiditate eveniet impedit quae fugit facilis. Esse eveniet quidem repellendus nesciunt atque provident voluptas pariatur, ducimus fugit voluptatum? </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rerum quaerat blanditiis. Cupiditate eveniet impedit quae fugit facilis. Esse eveniet quidem repellendus nesciunt atque provident voluptas pariatur, ducimus fugit voluptatum? </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rerum quaerat blanditiis. Cupiditate eveniet impedit quae fugit facilis. Esse eveniet quidem repellendus nesciunt atque provident voluptas pariatur, ducimus fugit voluptatum? </p>
    </div>
</body>
<%- include('./partials/footer') %>
</html>