<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <form action="">
        
        <label for="blog-title">Blog title</label>
        <input type="text" name="blog-title" id="">
        <label for="blog-snippet">Blog snippet</label>
        <input type="text" name="blog-snippet" id="">
        <label for="blog-body">Blog body</label>
        <input type="text" name="blog-body" id="">
        <button type="submit">submit</button>
    </form>
</body>
<%- include('./partials/footer') %>
</html>