<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid2.css">
    <title>Grid2</title>
</head>
<body>
    <div class="wrapper">
        <div>
            Lorem ipsum dolor sit.
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, debitis dolore beatae vero facilis veniam labore hic nostrum iste, perspiciatis ipsa error rerum, illo ducimus reprehenderit libero odit obcaecati velit ipsam molestiae dignissimos est odio a porro. At, laboriosam deleniti?
        </div>
        <div>
            Lorem ipsum dolor sit.
        </div>
        <div>
            Lorem ipsum dolor sit.
        </div>
        <div>
            Lorem ipsum dolor sit.
        </div>
        <div>
            Lorem ipsum dolor sit.
        </div>
        <div>
            Lorem ipsum dolor sit.
        </div>
        <div>
            Lorem ipsum dolor sit.
        </div>
    </div>
</body>
</html>