<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grid.css">
    <title>CSS Grid</title>
</head>
<body>
    <p> Grid : 2 Dimensions Flex : 1 D</p>
    <div class="wrapper">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat rem, aliquid quasi sapiente ullam possimus laboriosam enim provident, ducimus aliquam soluta nemo id quam vero cum asperiores ratione necessitatibus qui est nisi? Laboriosam eius atque, asperiores obcaecati inventore quaerat dolorum nihil esse quis est cumque dicta maxime. Consequuntur fugiat, unde delectus consequatur dolor totam error hic, explicabo facilis labore aliquam vero maxime amet ipsa. Voluptates, magnam voluptatum cupiditate eum libero qui, ullam hic recusandae rerum similique corrupti sequi pariatur veniam.
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet molestiae fugiat quaerat quasi quod assumenda, adipisci eligendi vitae cum soluta unde, omnis id maxime, atque dicta dolorum eum inventore?
        </div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat rem, aliquid quasi sapiente ullam possimus laboriosam enim provident, ducimus aliquam soluta nemo id quam vero cum asperiores ratione necessitatibus qui est nisi? Laboriosam eius atque, asperiores obcaecati inventore quaerat dolorum nihil esse quis est cumque dicta maxime. Consequuntur fugiat, unde delectus consequatur dolor totam error hic, explicabo facilis labore aliquam vero maxime amet ipsa. Voluptates, magnam voluptatum cupiditate eum libero qui, ullam hic recusandae rerum similique corrupti sequi pariatur veniam.
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet molestiae fugiat quaerat quasi quod assumenda, adipisci eligendi vitae cum soluta unde, omnis id maxime, atque dicta dolorum eum inventore?
        </div>
    </div>
</body>
</html>